<section *ngIf="testMtgDeck && testMtgDeck.length >= 0" class="deck-wrapper">
  <section class="button-row">
    <!-- RESET DECK, HAND AND CARDS DRAWN -->
    <riffler-riffler-button [label]="resetButtonLabel" [isDisabled]="disabledReset" (clickEvent)="resetSim()">
    </riffler-riffler-button>
    <!-- DRAW OPENING HAND -->
    <riffler-riffler-button [label]="drawOpeningHandButton" [isDisabled]="disabledOpeningHand"
      (clickEvent)="drawOpeningHand()">
    </riffler-riffler-button>
    <!-- MULLIGAN -->
    <riffler-riffler-button [label]="mulliganButtonLabel" [isDisabled]="disableMulligan"
      (clickEvent)="londonMulliganRule()">
    </riffler-riffler-button>
    <riffler-riffler-button [label]="keepButtonLabel" [isDisabled]="!mulligan" (clickEvent)="putBackCards()">
    </riffler-riffler-button>
    <!-- DRAW -->
    <riffler-riffler-button [label]="drawCardButtonLabel" [isDisabled]="testMtgDeck.length <= 0 || disableDraw"
      (clickEvent)="drawCard()">
    </riffler-riffler-button>
    <riffler-riffler-button [label]="createOpenHandDataLabel" (clickEvent)="createOpeningHandData()">
    </riffler-riffler-button>
    <riffler-riffler-button [label]="analyzeOpenHandData" (clickEvent)="analyzeData()">
    </riffler-riffler-button>
  </section>

  <section class="filterWrapper">
    <div class="filter">
      <riffler-riffler-filter [filterLabel]="filterLabelPercent" [selectPlaceholderLabel]="filterPlaceholder"
        [formControlType]="types" [cardAttrs]="cardTypes" [cardPercentLists]="cardTypePercentLists"
        (selectionToEmit)="findPercentByCardType($event.value)"></riffler-riffler-filter>
    </div>

    <div class="filter">
      <riffler-riffler-filter [filterLabel]="filterLabelCardName" [selectPlaceholderLabel]="filterPlaceholderName"
        [formControlType]="names" [cardAttrs]="cardNames" [cardPercentLists]="cardNamePercentLists"
        (selectionToEmit)="findPercentByCardName($event.value)"></riffler-riffler-filter>
    </div>
  </section>

  <section *ngIf="mtgHand && mtgHand.length > 0">
    <!-- NUMBER OF CARDS IN OPENING HAND -->
    <riffler-deck-stats [showHide]="showDeckStats" [deckStatLabel]="handStatsLabel" [collection]="mtgHand">
    </riffler-deck-stats>
    <h2 *ngIf="mulligan" class="section-headers">Put back: {{mull}} cards</h2>
    <div class="card-row">
      <!-- CARDS IN OPENING HAND -->
      <div class="normal-card" *ngFor="let hand of mtgHand; let i = index">
        <img *ngIf="hand && hand.image_uris" mat-card-image class="hand-card-img" src={{hand?.image_uris?.normal}}>
        <img *ngIf="hand.card_faces && hand.image_uris === undefined" mat-card-image class="hand-card-img"
          src={{hand?.card_faces[0]?.image_uris?.normal}}>
        <button *ngIf="applyBottomButton" mat-raised-button="" class="mat-raised-button button-top-bottom-padding"
          (click)="bottomCard(hand, index)">Bottom</button>
      </div>
    </div>
  </section>

  <section *ngIf="mtgDrawnCards && mtgDrawnCards.length > 0" class="hand-row">
    <!-- NUMBER OF CARDS DRAWN -->
    <riffler-deck-stats [showHide]="showDeckStats" [deckStatLabel]="drawnCardsStatsLabel" [collection]="mtgDrawnCards">
    </riffler-deck-stats>
    <!-- CARDS DRAWN -->

    <div class="card-row">
      <div class="normal-card" *ngFor="let drawnCard of mtgDrawnCards">
        <img *ngIf="drawnCard && drawnCard.image_uris" mat-card-image class="hand-card-img"
          src={{drawnCard?.image_uris?.normal}}>
        <img *ngIf="drawnCard.card_faces && drawnCard.image_uris === undefined" mat-card-image class="hand-card-img"
          src={{drawnCard?.card_faces[0]?.image_uris?.normal}}>
      </div>
    </div>

  </section>

  <section *ngIf="testMtgDeck && testMtgDeck.length > 0">
    <!-- NUMBER OF CARDS LEFT IN DECK -->
    <riffler-deck-stats [showHide]="showDeckStats" [deckStatLabel]="deckStatsLabel" [collection]="testMtgDeck">
    </riffler-deck-stats>
    <!-- CARDS IN DECK -->
    <riffler-card class="hand-row" [cardHeader]="cardHeaderLabel" [totalDeck]="testMtgDeck"></riffler-card>
  </section>

</section>
