<h2 class="tabHeader">Type your deck list:</h2>
<div class="deck-list-container">
  <br>
  <p class="limitations">
    Maximum of 75 Cards<br>
    Type <b>split cards</b> as: 1 Dead Gone<br>
    Type <b>transform cards</b> as: 1 Devler of Secrets<br>
    Type <b>flip cards</b> as: 1 Erayo, Soratami Ascendant
  </p>
  <!-- DECK LIST INPUT -->
  <form class="deck-form">
    <mat-form-field>
      <textarea type="text" name="deck-list" rows="15" matInput placeholder="Sample deck..." [(ngModel)]="deckListRequestData"></textarea>
    </mat-form-field>
  </form>
  <!-- SUBMIT DECKLIST -->
  <button id="submit" class="submit" mat-raised-button (click)="getDeckData()">Submit</button>
</div>