<div class="loader" *ngIf="loadingData">
  <mat-spinner [color]="primary" [mode]="indeterminate"></mat-spinner>
</div>

<mat-toolbar class="toolbar">
  <img src="./assets/logo.png" height="25" width="25">
  <h1 class="toolbar-text">{{title}}</h1>
</mat-toolbar>

<header class="app-header">
  <div>
    <h1>Welcome to Riffler!</h1>
    <h5>An app to simulate Magic: The Gathering&#174; decks. <br>To get started, type a list below and click submit.</h5>
    <i class="fa fa-chevron-down fa-4x" aria-hidden="true"></i>
    <div class="credit">
      <p><b>Art Credit: Mitchell Malloy + Wizards of the Coast</b></p>
    </div>
  </div>
</header>

<div class="app-wrapper">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab">
    <mat-tab label="Edit Deck">

      <h2 class="tabHeader">Type your deck list:</h2>
      <div class="deck-list-container">
        <br>
        <p class="limitations">
          Maximum of 75 Cards<br>
          Type <b>split cards</b> as: 1 Dead Gone<br>
          Type <b>transform cards</b> as: 1 Devler of Secrets<br>
          Type <b>flip cards</b> as: 1 Erayo, Soratami Ascendant
        </p>
        <!-- DECK LIST INPUT -->
        <form class="deck-form">
          <mat-form-field>
            <textarea type="text" name="deck-list" class="deck-list" matInput placeholder="Sample deck..." [(ngModel)]="deckListRequestData"></textarea>
          </mat-form-field>
        </form>
        <!-- SUBMIT DECKLIST -->
        <button id="submit" mat-raised-button (click)="getDeckData()">Submit</button>
      </div>

    </mat-tab>
    <mat-tab label="Deck List" [disabled]="testMtgDeck.length === 0">

      <h2 class="tabHeader">Simulate deck:</h2>
      <div *ngIf="testMtgDeck && testMtgDeck.length >= 0">
        <div class="button-row">
          <!-- RESET DECK, HAND AND CARDS DRAWN -->
          <button mat-raised-button="" class="mat-raised-button" (click)="resetSim()">
            <span class="mat-button-wrapper">Reset</span>
          </button>
          <!-- DRAW OPENING HAND -->
          <button mat-raised-button="" class="mat-raised-button" (click)="drawOpeningHand()">
            <span class="mat-button-wrapper">Draw Opening Hand</span>
          </button>
          <!-- MULLIGAN -->
          <button mat-raised-button="" class="mat-raised-button" (click)="mulligan()">
            <span class="mat-button-wrapper">Mulligan</span>
          </button>
          <!-- DRAW -->
          <button mat-raised-button="" class="mat-raised-button" (click)="drawCard()" [disabled]="testMtgDeck.length <= 0">
            <span class="mat-button-wrapper">Draw a Card</span>
          </button>
        </div>
        <!-- NUMBER OF CARDS IN OPENING HAND -->
        <h2 class="section-headers">Hand: {{mtgHand.length}}</h2>
        <div class="hand-row">
          <!-- CARDS IN OPENING HAND -->
          <mat-card class="card-card" *ngFor="let hand of mtgHand">
            <img *ngIf="hand && hand.image_uris" mat-card-image class="hand-card-img" src={{hand?.image_uris?.normal}}>
            <img *ngIf="hand.card_faces && hand.image_uris === undefined" mat-card-image class="hand-card-img" src={{hand?.card_faces[0]?.image_uris?.normal}}>
          </mat-card>
        </div>
        <!-- NUMBER OF CARDS DRAWN -->
        <h2 class="section-headers">Cards Drawn: {{mtgDrawnCards.length}}</h2>
        <div class="hand-row">
          <!-- CARDS DRAWN -->
          <mat-card class="card-card" *ngFor="let drawnCard of mtgDrawnCards">
            <img *ngIf="drawnCard && drawnCard.image_uris" mat-card-image class="hand-card-img" src={{drawnCard?.image_uris?.normal}}>
            <img *ngIf="drawnCard.card_faces && drawnCard.image_uris === undefined" mat-card-image class="hand-card-img"
              src={{drawnCard?.card_faces[0]?.image_uris?.normal}}>
          </mat-card>
        </div>
        <!-- NUMBER OF CARDS LEFT IN DECK -->
        <h2 class="section-headers">Deck List: {{testMtgDeck.length}}</h2>
        <div class="hand-row">
          <!-- CARDS IN DECK -->
          <mat-card class="card-card" *ngFor="let deck of testMtgDeck">
            <img *ngIf="deck && deck.image_uris" mat-card-image class="hand-card-img" src={{deck?.image_uris?.normal}}>
            <img *ngIf="deck.card_faces && deck.image_uris === undefined" mat-card-image class="hand-card-img" src={{deck?.card_faces[0]?.image_uris?.normal}}>
            <h5 class="chance-header">Chance to Draw:</h5>
            <h5 class="percent-chance">{{deck.percentageToDraw | percent: '1.3-5' }}</h5>
          </mat-card>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>



</div>
