@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.loader {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader > mat-spinner{
    margin: 0 auto;
}

/* .app-wrapper {
    min-height: 800px;
} */

/* .app-header {
    background-color: #838383;
    background-image: url("./assets/frantic-search.jpg");
    
    /* background-position-y: 10em; */
    /* background-size: 300px 100px; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

/* .credit {
    text-align: end;
    bottom: 1px;
    color: #323233;
    font-size: 0.75em;
    position: absolute;
    bottom: 175px;
    right: 2px;
} */


.app-wrapper {
    min-height: 800px;
}

.deck-wrapper {
    margin: 12px;
}

.hand-card-img {
    width: 140px !important;
}

.card-name {
    font-family: Roboto;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.limitations {
    font-size: 0.8em;
}

.button-top-bottom-padding {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mat-tab-label {
    font-size: 22px;
    font-weight: 500;
}

.border-thing {
    margin: 10px;
}

.hand-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #343a40;
}

.button-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.img-bg {
    width: 100%;
    /*background-color: #80c49f;*/
}

.section-headers {
    font-family: Roboto;
    font-weight: 800;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.card-card {
    /*float: left;*/
    width: 158px;
    margin: 10px;
    padding: 10px;
    /*margin-right: 10px;
    margin-left: 10px;*/
    /*background-color: #c4dac3;*/
}

.normal-card {
    margin: 15px; 
}

.scry-button-wrapper {
    float: right;
    margin-left: 10px;
    display: grid;
}

.scry-buttons {
    justify-self: baseline;
}

.scried-card {
    margin-top: -17px;
    margin-left: 60px; 
    margin-right: 15px;
    margin-bottom: 15px;
}

.toolbar {
    background-color: #ffffff !important;
}

.tiny-text {
    font-size: 0.60em;
    font-weight: bold;
}

.tabHeader {
    padding-top: 1em;
    text-align: center;
}

#submit {
    background-color: #142733 ;
    color: white;
}

.mat-tab-labels {
    justify-content: center !important;
}

.menu-button {
    color: white !important;
}

.app-header > div {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px; 
    background: rgba(166, 167, 169, 0.55);
}

.app-header > div > h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 3em;
}

.header-btn {
    margin-top: 20px;
    font-weight: 500;
    color: black;
    border: 3px solid black;
}

.header-btn:hover {
    background-color: black;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    border: 3px solid black;
}

.deck-list-container {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

.credit {
    text-align: end;
    bottom: 1px;
    color: #323233;
    font-size: 0.75em;
    position: absolute;
    bottom: 175px;
    right: 2px;
}

.deck-list {
    height: 500px;
}

.deck-form {
    display: inline-grid;
}

.toolbar-text {
    font-size: 24px !important;
    font-family: Roboto;
    font-weight: 100 !important;
    /* src: url('https://fonts.googleapis.com/css?family=Roboto'); */
    padding-left: 20px;
    padding-right: 10px;
}

.forest_logo { 
    margin: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .chance-header { 
      font-weight: 900;
      font-size: 0.9em;
      src: url('https://fonts.googleapis.com/css?family=Roboto');
  }

  .percent-chance {
    font-weight: 300;
    font-size: 1.2em;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
  }

  .mat-card-image {
      margin-top: 0px !important;
      margin: 0 0px 16px -14px !important;
  }

  .mat-card {
      padding-bottom: 5px !important;
  }

  .submit {
      height: 3em !important;
      font-size: 1.25em;
  }




