<!-- Loading Spinner-->
<div class="loader" *ngIf="loadingData">
  <mat-spinner [color]="primary" [mode]="indeterminate"></mat-spinner>
</div>
<!-- app header-->
<riffler-header></riffler-header>

<div>
  <!-- Tab Group -->
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab">
    <!-- Edit Deck Tab -->
    <mat-tab label="Edit Deck">
      <riffler-deck-submitter [tab]="selectedTab" (activeTab)="selectedTab" (isLoadingData)="setLoadingScreen($event)"></riffler-deck-submitter>
    </mat-tab>
    <!-- Deck List Tab-->
    <mat-tab label="Deck List" [disabled]="disableDeckTab">
      <riffler-deck (stopLoadingData)="loadingData" (enableTab)="enableTab()"></riffler-deck>
    </mat-tab>
  </mat-tab-group>
</div>
