@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.app-wrapper {
    margin: 12px;
}

.hand-card-img {
    width: 125px;
}

.card-name {
    font-family: Roboto;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.mat-tab-label {
    font-size: 22px;
    font-weight: 500;
}

.border-thing {
    margin: 10px;
}

.hand-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.img-bg {
    width: 100%;
    /*background-color: #80c49f;*/
}

.section-headers {
    font-family: Roboto;
    font-weight: 800;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.card-card {
    /*float: left;*/
    width: 160px;
    margin: 10px;
    /*margin-right: 10px;
    margin-left: 10px;*/
    /*background-color: #c4dac3;*/
}

.creature {
    background-color: lightgreen;
}

.sorcery {
    background-color: lightsalmon;
}

.land {
    background-color: lightslategrey;
}

.hand {
    background-color: gold;
}

.planeswalker {
    background-color: lightblue;
}

.toolbar {
    background-color: #142733 !important;
}

.app-header {
    background-color: #838383;
    background-image: url("./assets/evacuation.jpg");
    
    /* background-position-y: 10em; */
    /* background-size: 300px 100px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-button {
    color: white !important;
}

.app-header > div {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px; 
    background: rgba(63, 130, 166, 0.75);
}

.app-header > div > h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 3em;
}

.header-btn {
    margin-top: 20px;
    font-weight: 500;
    color: black;
    border: 3px solid black;
}

.header-btn:hover {
    background-color: black;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    border: 3px solid black;
}

.deck-list-container {
    display: grid;
    width: 50%;
}

.deck-list {
    height: 500px;
}

.toolbar-text {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 800;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    padding-left: 20px;
    padding-right: 10px;
}

.forest_logo { 
    margin: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
